/* Add our own style here */
.chart-area {
  display: inline-block;
  width: 100%;
}

.chart-div {
  padding-bottom: 10px;
}

.waffle-title {
  display: inline-block;
  width:100%;
}

#title-input {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgb(222, 226, 230);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.chart-title {
  display: table-cell;
  width:100%;
}

* {
  border-radius: 0 !important;
}

.colorpick, .monthsevent, .color-col, .radiocheck, .th_center{
  text-align: center;
}

/* https://stackoverflow.com/a/63344767/14082090 */
input[type="color"] {
    border: none;
    width: 24px;
    height: 24px;
    border:0;
    margin:0;
    padding:0;

}

body {
  font-family: 'Merriweather', serif;
}

table {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.img-padding {
  padding-bottom: 20px;
}

.mybanner {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 6vw;
}
@media screen and (min-width: 400px) {
  .mybanner {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
     font-size: 30px;
  }
}

.social-media {
  list-style-type: none;
  padding: 0px;
}

.social-media-li {
  float: left;
  padding: 16px;
}

.togglediv {
  padding-bottom: 15px;
}

#file-upload {
  display: none;
}
