/* Add our own style here */
.chart-area {
  padding: 10px;
  background: #fafafa;
  display: inline-block;
}

.chart-div {
  padding-bottom: 10px;
}

.chart-title {
  display: table-cell;
  width:100%
}

* {
  border-radius: 0 !important;
}

.remove, .colorpick, .monthsevent {
  text-align: center;
}

/* https://stackoverflow.com/questions/11167281/webkit-css-to-control-the-box-around-the-color-in-an-inputtype-color */
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 24px;
	height: 24px;
}
